<h1>Editing user</h1>

<div class='edit round'>
  <% form_for (@user, :html => { :multipart => true })  do |f| %>
     <%= image_tag @user.photo.url(:small) %>

    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation,"Passward confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>
