<h1>All Group</h1>

<p>Group 1 <%= link_to "add", "#"%></p>
<p>Group 2 <%= link_to "add", "#"%></p>
<p>Group 3 <%= link_to "add", "#"%></p>
<p>Group 4 <%= link_to "add", "#"%></p>
<p>Group 5 <%= link_to "add", "#"%></p>
<p>Group 6 <%= link_to "add", "#"%></p>
