<div class = 'sign_up_title round'>Sign up</div>

<div class = 'sign_up round'>
  <% form_for(@user, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages%>
    <div>
       <%= f.label :student_id, "Student ID" %><br />
       <%= f.text_field :student_id %>
    </div>
    <div>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Password Confirmation" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div>
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>
    <div>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
