<div id="header">

  <ul class="navigation a">
     <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "User", users_path %></li>
     <li><%= link_to "Setting", edit_user_path(current_user) %></li>
     <li><%= link_to "Profile", current_user %></li>
     <li><%= link_to "Sign out", signout_path %></li>
     <li><%= link_to "Help", '#' %></li>
  </ul>

  <div class = 'title'>A Promise is a promise </div>
</div>
