<div id="navi">
  <p><%= link_to "Do Promise", promise_path%></p>
  <p><%= link_to "My Recoder", recoder_path%></p>
  <p><%= link_to "Partner's State", communicate_path%></p>
  <p><%= link_to "....", "#"%></p>
  <p><%= link_to "other", "#"%></p>
 </div>
