<div id="navi">
  <p><%= link_to "task1", "#"%></p>
  <p><%= link_to "task2", "#"%></p>
  <p><%= link_to "task3", "#"%></p>
  <p><%= link_to "task4", "#"%></p>
  <p><%= link_to "task5", "#"%></p>
 </div>
