<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.01 Strict//EN"
  "http://www.w3.org/TR/xhtml4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>A promise is a promise | <%= @title %></title>
    <%= render 'layouts/stylesheets'%>
  </head>
  <body>
    <div>
    <% if signed_in? %>
      <%= render 'layouts/header'%>
      <div id='content'>
        <%= render 'layouts/right'%>
        <%= render 'layouts/left'%>
      </div>
      <div>
        <% flash.each do |key, value| %>
        <div><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer'%>

     <% else %>

       <div>
         <% flash.each do |key, value| %>
         <div><%= value %></div>
         <% end %>
         <%= yield %>
       </div>
      <%= debug(params) if Rails.env.development? %>

     <% end %>
    </div>
  </body>
</html>
