<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.01 Strict//EN"
  "http://www.w3.org/TR/xhtml4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>A promise is a promise | <%= @title %></title>
    <%= render 'layouts/stylesheets'%>
    <style type="text/css">
      A:link {color: #666666}
      A:visited {color: #666666}
      A:active {color: #CCCCCC}
      A:hover {color: #CCCCCC}
    </style>
  </head>
  <body>
    <div>
    <% if signed_in? %>
      <%= render 'layouts/header'%>
      <div class='column'>
        <%= render 'layouts/left'%>
        <%= render 'layouts/right'%>
      </div>
      <div class = 'content'>
        <% flash.each do |key, value| %>
           <div class = '<%= key %>'><%= value %></div>
        <% end %>
        <%= yield %>
       </div>
       <%= render 'layouts/footer'%>

     <% else %>
       <div>
         <% flash.each do |key, value| %>
         <div class = 'round <%= key %>'><%= value %></div>
         <% end %>
       </div>
       <%= yield %>
     <% end %>
     <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
